<div class="container menu-pizzaria" id="cardapio-pizzaria">
{{>msg}} <!-- Modulo partial de mensagens -->
{{#each categorias}} <!-- Loop para iterar sobre categorias do cardapio -->
<h3 class="titulo-categoria">{{titulo_categoria}}</h3> <!-- Titulo da categoria -->
    {{#each elementos}} <!-- Loop sobre os elementos da categoria -->
        <div class="card mb-1 menu-opcao d-flex p-3">
            <h4>{{nome}}</h4>
            <span class="text">{{descricao}}</span>
            <div class="d-flex">
                <div class="text area-preco">
                    <span>R$<span class="preco">{{preco}}</span></span><br>
                </div>
                <div class="ml-auto">
                    <button class="material-icons btn btn-success sm">add_shopping_cart</button>
                    <button class="material-icons btn btn-danger">remove_shopping_cart</button>
                </div>
            </div>
        </div>
    {{else}}
        <div class="alert alert-danger">Não foi possivel renderizar os elementos!</div>
    {{/each}}

{{else}}
    <div class="alert alert-danger">Não foi possivel renderizar as categorias!</div>
{{/each}}
</div>