<div class="container menu-pizzaria" id="cardapio-pizzaria">
{{>msg}} <!-- Modulo partial de mensagens -->

{{#each pizzas}} <!-- Loop para iterar sobre categorias do cardapio -->
<h3 class="titulo-categoria">{{titulo_categoria}}</h3> <!-- Titulo da categoria -->
    {{#each elementos}} <!-- Loop sobre os elementos da categoria -->
        <div class="card mb-1 menu-opcao d-flex p-3">
            <h4>{{nome}}</h4>
            <span class="text">{{descricao}}</span>
            <div class="d-flex">
                <div class="text area-preco">
                    <span>R$<span class="preco">{{preco}}</span></span><br>
                </div>
                {{#if ../../session.user}}
                <div class="ml-auto">
                    <input type="number" class="input-preco btn btn-light" id='qtd-{{id}}' min='0' placeholder="0">
                    <button class="material-icons btn btn-meia-pizza btn-warning" onclick="selecionaMetadePizza('{{id}}','{{nome}}')"><img class="img-meia-pizza" src="/assets/meia-pizza.png" alt="meia pizza"></button>
                    <button class="material-icons btn btn-success sm" onclick="adicionaProduto('{{nome}}',{{preco}},'qtd-{{id}}')">add_shopping_cart</button>
                    <button class="material-icons btn btn-danger" onclick="removeProduto('{{nome}}')">remove_shopping_cart</button>
                </div>
                {{/if}}
            </div>
            <div class="area-pizzas-metade" id="{{id}}">

            </div>
        </div>
    {{else}}
        <div class="alert alert-danger">Não foi possivel renderizar os elementos!</div>
    {{/each}}

{{else}}
    <div class="alert alert-danger">Não foi possivel renderizar as categorias!</div>
{{/each}}

{{#each categorias}} <!-- Loop para iterar sobre categorias do cardapio -->
<h3 class="titulo-categoria">{{titulo_categoria}}</h3> <!-- Titulo da categoria -->
    {{#each elementos}} <!-- Loop sobre os elementos da categoria -->
        <div class="card mb-1 menu-opcao d-flex p-3">
            <h4>{{nome}}</h4>
            <span class="text">{{descricao}}</span>
            <div class="d-flex">
                <div class="text area-preco">
                    <span>R$<span class="preco">{{preco}}</span></span><br>
                </div>
                {{#if ../../session.user}}
                <div class="ml-auto">
                    <input type="number" name="qntd" class="input-preco btn btn-light" id='qtd-{{id}}' min='0' placeholder="0">
                    <button class="material-icons btn btn-success sm" onclick="adicionaProduto('{{nome}}',{{preco}},'qtd-{{id}}')">add_shopping_cart</button>
                    <button class="material-icons btn btn-danger" onclick="removeProduto('{{nome}}')">remove_shopping_cart</button>
                </div>
                {{/if}}
            </div>
        </div>
    {{else}}
        <div class="alert alert-danger">Não foi possivel renderizar os elementos!</div>
    {{/each}}

{{else}}
    <div class="alert alert-danger">Não foi possivel renderizar as categorias!</div>
{{/each}}
    {{#if session.user}}
        <div class="card menu-opcao p-3">
            <h3>Carrinho de Compras:</h3>
            <div id="carrinho"></div>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-success" onclick="finaliza_pedido()">Finalizar pedido</button>
            </div>
        </div>
    {{/if}}
</div>


<script>
    function nome_pizzas(){// tentar adicionar o script separado na pasta public
        return fetch("http://localhost:3000/nomePizza",{
            method:'POST'
        })
        .then(response => response.json())
        .then((json) =>{
            return json.Pizzas
        }).catch((erro) =>{
            console.log(erro)
            return null
        })
    }

    function finaliza_pedido(){
        return fetch("http://localhost:3000/finalizaPedido",{
            method:'POST'
        })
        .then(response => response.json())
        .then((json) =>{
            return json.Pizzas
        }).catch((erro) =>{
            console.log(erro)
            return null
        })
    }

    function selecionaMetadePizza(id,nome_pizza){
        let div = document.getElementById(id);
        nome_pizzas().then((pizzas) =>{
            let areaSelecao = "<div class='sub-area-pizzas d-flex justify-content-between'>"
            for(pizza of pizzas){
                if(!(pizza === nome_pizza))
                areaSelecao += "<button class='btn btn-warning btn-metade-pizza'>" + pizza + "</button>";
            }
            areaSelecao += '</div>';
            div.innerHTML = areaSelecao;
        })
    }

    function adicionaProduto(nome_produto,preco_produto,id_quantidade){
        let quantidade_produto = document.getElementById(id_quantidade).value;
        let produto = {
            "nome":nome_produto,
            "preco":parseFloat(preco_produto),
            "quantidade":quantidade_produto
        }

        fetch("http://localhost:3000/adicionaProduto",{
            method:'POST',
            body:JSON.stringify(produto),
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
        .then(response => response.json())
        .then((json) =>{
            reproduzPedido(json.Produtos,json.Total)
        }).catch((erro) =>{
            console.log(erro)
        })
    }

    function removeProduto(nome_produto){        
        let produto = {
            "nome":nome_produto
        }

        fetch("http://localhost:3000/removeProduto",{
            method:'POST',
            body:JSON.stringify(produto),
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
        .then(response => response.json())
        .then((json) =>{
            reproduzPedido(json.Produtos,json.Total)
        }).catch((erro) =>{
            console.log(erro)
        })

    }

    function reproduzPedido(produtos,total){
        let areaProdutos = "<ol>";

        for(produto of produtos){
            areaProdutos += '<li>' + produto.nome + ', preço: R$' + produto.preco + ', quantidade: ' + produto.quantidade + '</li>';
        }

        areaProdutos += '</ol><p><span class="preco">Valor Total: R$ ' + total + '</span></p>';
        let div = document.getElementById("carrinho");
        div.innerHTML = areaProdutos;
    }
</script>